
{{!-- muestra por pantalla los productos --}}
<div class="container text-center">
    <div>
        <h1>Bienvenido al mercado WEB, seleccione sus productos</h1>
        {{> Producto}}
    </div>
</div>