{{!-- nadvar --}}
 <nav class="navbar bg-success">
    <div class="container-fluid d-flex justify-content-center ">
            {{!-- dado que el desafio pide y exije un icono se comenta el boton --}}
            {{!-- <i class="bi bi-cart text-white"></i> Carrito --}}
            {{!-- <i class="bi bi-cart bi-4x text-white" aria-hidden="true"></i> --}}
        <i id="carro" class="bi bi-cart text-white" aria-hidden="true" style="font-size: 2rem;"></i>  
    </div>
</nav>
{{!-- modal --}}

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body row">
            </div>
        </div>
    </div>
</div>