 // narbar
 <nav class="navbar bg-success">
    <div class="container-fluid d-flex justify-content-center ">
            <a href="#" class="btn btn-outline-dark  ">
                <i class="bi bi-cart"></i> Carrito
            </a>
    </div>
</nav>