{{!-- productos ordenados para mostrar en forma centrada en la main --}}
<div class="row">
    {{#each productos}}
    <div class="col-4" data-nombre="{{nombre}}">
        <h3>{{nombre}}</h3>
        <img src="/{{imagen}}" alt="{{nombre}}">
    </div>
    {{/each}}
</div>